/***************************** 基础样式 ***************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100px;
  background-color: #eee;
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 56.25px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 62.5px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 64.6875px;
  }
}
@media screen and (min-width: 440px) {
  html {
    font-size: 68.75px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 75px;
  }
}
@media screen and (min-width: 520px) {
  html {
    font-size: 81.25px;
  }
}
@media screen and (min-width: 560px) {
  html {
    font-size: 87.5px;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 93.75px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 680px) {
  html {
    font-size: 106.25px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 112.5px;
  }
}
@media screen and (min-width: 760px) {
  html {
    font-size: 118.75px;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 125px;
  }
}
@media screen and (min-width: 960px) {
  html {
    font-size: 150px;
  }
}
/*把英文写在前面，中文写后面*/
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  font-size: .12rem;
  position: relative;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
  border: 0 none;
}
ul,
li {
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}
/******* 用伪元素来清除浮动造成的塌陷 ******/
.clearFix:after {
  /* 从Ie8支持 */
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}
.clearFix {
  /* Ie 6 7 */
  zoom: 1;
}
body {
  padding-top: .56rem;
  position: relative;
}
/***************************** 头部导航 ***************************/
nav {
  width: 100%;
  height: .56rem;
  background: #31313C;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding-left: .16rem;
  box-sizing: border-box;
}
nav h1 {
  display: inline-block;
  width: .65rem;
  height: .2rem;
  margin-top: .2rem;
  font-weight: normal;
}
nav h1 img {
  width: .65rem;
  height: auto;
}
nav h1 a {
  color: #fff;
  font-size: .18rem;
}
nav div {
  float: right;
  margin-top: .14rem;
}
nav div a span {
  display: inline-block;
  width: .3rem;
  height: .3rem;
  background: url(../images/sousuo.png) no-repeat;
  background-size: .3rem auto;
  padding: 0 .06rem;
  margin-left: .15rem;
}
nav div a .people {
  background: url(../images/people.png) no-repeat;
  background-size: .3rem auto;
}
nav div a .bag {
  background: url(../images/bag.png) no-repeat;
  background-size: .28rem auto;
}
/***************************** 隐藏的菜单 ***************************/
.menu {
  width: 100%;
  height: 3.84rem;
  overflow: auto;
  background: #fff;
  position: absolute;
  top: .56rem;
  left: 0rem;
  z-index: 200;
  display: none;
  /***添加落空类 控制下拉三角和二级菜单的显示与隐藏***/
}
.menu .item {
  width: 100%;
  border-top: .01rem solid #f6f6f6;
}
.menu .item p {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: .48rem;
  padding-left: .15rem;
  font-size: .12rem;
  position: relative;
  line-height: .48rem;
}
.menu .item p:after {
  content: "";
  position: absolute;
  right: .2rem;
  top: .1rem;
  width: .22rem;
  height: .22rem;
  background: url(../images/rightbtn.png) no-repeat;
  -webkit-background-size: .22rem auto;
  background-size: .22rem auto;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.menu .item .lastBarnd a {
  display: block;
  width: 100%;
  height: .48rem;
  color: #000;
}
.menu .item .lastBarnd :after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.menu .item div {
  padding-left: .15rem;
  height: .48rem;
  line-height: .48rem;
  position: relative;
}
.menu .item div:after {
  content: "";
  position: absolute;
  left: .3rem;
  top: .2rem;
  width: .12rem;
  height: .12rem;
  background: url(../images/search.png);
  background-size: .12rem auto;
}
.menu .item div input {
  width: 91%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: .4rem;
  height: .22rem;
  background: #ededed;
  -webkit-border-radius: .2rem;
  border-radius: .2rem;
  border: 0 none;
  outline: none;
  font-size: .12rem;
}
.menu .item div span {
  font-size: .14rem;
  margin-left: .06rem;
}
.menu .item ul {
  width: 100%;
  display: none;
}
.menu .item ul li {
  height: .48rem;
  border-top: .01rem solid #f6f6f6;
}
.menu .item ul li a {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  color: #4F494B;
  height: .48rem;
  line-height: .48rem;
  padding-left: .32rem;
}
.menu .open p:after {
  transform: rotate(-90deg);
}
.menu .open ul {
  display: block;
}
/***************************** 隐藏的模态框 ***************************/
.model {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}
/*********************** 为body加上类dropDown 控制二级菜单显示***************/
.dropDown {
  overflow: hidden;
}
.dropDown .menu {
  display: block;
}
.dropDown .model {
  display: block;
}
/******************************搜索*********************************/
.search {
  width: 100%;
  background: #fff;
}
.search div.q {
  padding-left: .15rem;
  height: .48rem;
  line-height: .48rem;
  position: relative;
}
.search div.q:after {
  content: "";
  position: absolute;
  left: .3rem;
  top: .2rem;
  width: .12rem;
  height: .12rem;
  background: url(../images/search.png);
  background-size: .12rem auto;
}
.search div.q input {
  width: 92%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: .4rem;
  height: .22rem;
  background: #ededed;
  -webkit-border-radius: .2rem;
  border-radius: .2rem;
  border: 0 none;
  outline: none;
}
.search div.q span {
  font-size: .14rem;
  margin-left: .07rem;
}
.search .tag {
  padding-left: .3rem;
}
.search .tag p {
  padding: 18px 0;
  color: #B3B3B3;
}
.search .tag ul {
  width: 100%;
}
.search .tag ul li {
  float: left;
  margin-right: .1rem;
  margin-bottom: .1rem;
}
.search .tag ul li a {
  display: block;
  padding: .08rem .19rem;
  color: #828282;
  border: .01rem solid #BEBDBB;
  border-radius: .4rem;
}
